@page
@model ForexHelpers.Web.Pages.SwingPositionRecommendationModel
@{
	ViewData["Title"] = "Swing Position Recommendation";
}

@functions{
	string GetPositionClass(decimal interestRateDiff)
	{
		if (interestRateDiff > 0)
		{
			return "long-position";
		}
		else if (interestRateDiff < 0)
		{
			return "short-position";
		}
		else
		{
			return "any-position";
		}
	}

	string GetRecommenedPosition(decimal interestRateDiff)
	{
		if (interestRateDiff > 0)
		{
			return "Long";
		}
		else if (interestRateDiff < 0)
		{
			return "Short";
		}
		else
		{
			return "Long / Short";
		}
	}
}

<table class="table">
	<thead>
		<tr>
			<th scope="col">Currency Pair</th>
			<th scope="col">Base Currency Interest Rate</th>
			<th scope="col">Quote Currency Interest Rate</th>
			<th scope="col">Interest Rate Diff (Base - Quote)</th>
			<th scope="col">Recommended Position</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var currencyPair in Model.CurrencyPairs)
		{
			var positionClass = GetPositionClass(currencyPair.InterestRateDiff);
			var recommendedPosition = GetRecommenedPosition(currencyPair.InterestRateDiff);
			<tr>
				<td>@currencyPair.Base/@currencyPair.Quote</td>
				<td>@currencyPair.BaseInterestRate%</td>
				<td>@currencyPair.QuoteInterestRate%</td>
				<td class="@positionClass">@currencyPair.InterestRateDiff%</td>
				<td class="@positionClass">@recommendedPosition</td>
			</tr>
		}
	</tbody>
</table>
