@page
@model ForexHelpers.Web.Pages.SwingPositionRecommendationModel
@{
	ViewData["Title"] = "Swing Position Recommendation";
}

@functions{
	string GetPositionClass(decimal interestRateDiff)
	{
		if (interestRateDiff > 0)
		{
			return "long-position";
		}
		else if (interestRateDiff < 0)
		{
			return "short-position";
		}
		else
		{
			return "any-position";
		}
	}

	string GetRecommenededPosition(decimal interestRateDiff)
	{
		if (interestRateDiff > 0)
		{
			return "Long";
		}
		else if (interestRateDiff < 0)
		{
			return "Short";
		}
		else
		{
			return "Long / Short";
		}
	}
}

<h1>@ViewData["Title"]</h1>

<p>
	This tool shows a preferred position direction for swing trading.
</p>

<p>
	When you keep a position open for a few weeks, swap fees can add up and affect your overall profit or loss.
	It is better to have a positive swap and trade in the direction of the swap, this way you can increase your profit or reduce your loss.
</p>

<p>
	A table below consist of the most popular major, minor and exotic Forex currency pairs.
	For each pair, there is a recommended position based on interest rate difference of base and quote currencies.
</p>

<p>
	Next time, when you find a good trading opportunity, check if your desired position matches the recommended one.
</p>

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Pair</th>
			<th scope="col text-end">Base</th>
			<th scope="col">Quote</th>
			<th scope="col">Diff</th>
			<th scope="col">Position</th>
		</tr>
	</thead>
	<tbody>
		@{
			var i = 1;
		}
		@foreach (var currencyPair in Model.CurrencyPairs)
		{
			var positionClass = GetPositionClass(currencyPair.InterestRateDiff);
			var recommendedPosition = GetRecommenededPosition(currencyPair.InterestRateDiff);
			<tr class="font-monospace">
				<th scope="row">@i</th>
				<td>@currencyPair.Base/@currencyPair.Quote</td>
				<td class="text-end">@currencyPair.BaseInterestRate.ToString("F2")%</td>
				<td class="text-end">@currencyPair.QuoteInterestRate.ToString("F2")%</td>
				<td class="text-end @positionClass">@currencyPair.InterestRateDiff.ToString("F2")%</td>
				<td class="text-center @positionClass">@recommendedPosition</td>
			</tr>
			i++;
		}
	</tbody>
</table>
